{% extends 'base.html' %}

{% block title %} Games {% endblock title %}

{% block header %}
    <h1>Jamie's Favorite Games</h1>
{% endblock header %}
    
{% block content %}

{% for game in game_list %}
    <div class="col d-flex align-items-stretch p-0">
        <div class="card">
            <img src="{{ game['image'] }}" class="card-img-top" style="height:200px;" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ game['title'] }}</h5>
                <p class="card-text">{{ game['description'] }}</p>
                <a href="{{ game['link'] }}" class="btn btn-primary">Steam Page</a>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock content %}